{% extends 'base.html' %}
{% load static %}
{% block title %}
    Password Reset Done
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
{% endblock %}
{% block content %}
    <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Password Reset</h1>
        <h1 class="position-absolute text-uppercase text-primary">Done</h1>
    </div>
    <section style="margin-bottom: 150px;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <h1>Check your inbox.</h1>
                    <p> We've emailed you instructions for setting your password. You should receive the email
                        shortly!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
