{% extends 'base.html' %}
{% load static %}
{% block title %}
    Password Reset Complete
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/login_css.css' %}">
{% endblock %}
{% block content %}
    <div class="position-relative d-flex align-items-center justify-content-center">
        <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">Password Reset</h1>
        <h1 class="position-absolute text-uppercase text-primary">Complete</h1>
    </div>
    <section style="margin-bottom: 150px;">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <p>Your password has been successfully updated.</p>
                    <p>You can now <a href="{% url 'accounts:login' %}" class="text-warning">login</a> with your new
                        password.</p>
                    <p>If you have any questions or need further assistance, please contact us.</p>
                    <p>Thanks for using our site!</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
