{% extends 'base.html' %}
{% load static %}
{% block title %}
    404
{% endblock %}
{% block content %}
    <!-- About Start -->
    <div class="container-fluid py-5" id="about">
        <div class="container">
            <div class="position-relative d-flex align-items-center justify-content-center">
                <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">404</h1>
                <h1 class="position-absolute text-uppercase text-primary">error 404</h1>
            </div>
            <div class="text-center">
                <h2>Sorry The Page You Are Looking For Does Not Exist!</h2>
            </div>
        </div>
    </div>
{% endblock %}